.home {
  text-align: center;
  margin: var(--space-3);
}

.task {
  border: 1px solid #ccc;
  padding: var(--space-2);
  margin: var(--space-2);
  border-radius: 6px;
}

.taskname {
  font-weight: bold;
}

.completed .taskname {
  text-decoration: line-through;
  color: green;
}

button {
  margin: 0 5px;
}

@media (max-width: 600px) {
  .home {
    margin: var(--space-2);
  }

  .task {
    width: 90%;
    font-size: 0.9rem;
  }

  button {
    margin-top: var(--space-1);
  }
}